@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --background: #1c1b1f;
  --surface-0: #313033;
  --surface-1: #484649;
}

* {
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira Code", monospace;
}

body {
  background-color: var(--background);
  color: white;
  width: 100%;
}

main {
  background-color: var(--background);
  color: white;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
}

main > * {
  grid-column: 2;
}

header {
  width: 100%;
  text-align: center;
  background-color: var(--surface-0);
  padding: 1em;
  font-size: 1.2em;
}

header > h1,
h2 {
  font-weight: normal;
  font-style: normal;
}

header > h1 {
  font-size: 1.5em;
}

header > h2 {
  margin-top: 20px;
  font-size: smaller;
}

#game-field {
  display: grid;
  box-sizing: border-box;
  margin: 0px;
  grid-template-columns: repeat(
    var(--columns),
    1fr
  ); /* Adjust the width of columns as needed */
  grid-template-rows: repeat(
    var(--rows) 1ch
  ); /* Adjust the number of rows and the height of rows as needed */
  line-height: 1em; /* Remove spacing between rows */

  gap: 0px;
}

#game-field:focus {
  color: white;
  outline: white;
  outline-style: dotted;
  outline-offset: 1px;
}

#field-wrapper {
  box-sizing: content-box;
  margin: 30px;
  /* padding: 20px; */

  background-color: black;
  color: white;
}

.cell {
  display: inline-block;
  width: 0.9ch;
  height: 1em;
}

#editor-wrapper {
  display: flex;
  overflow: visible;
  justify-content: end;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  padding: 10px;
}

#editor {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--surface-0);
  padding: 10px;
}

#editor button {
  background-color: #ffffff00;
  border-style: none;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin: 0px 2px;
}

#editor > :first-child {
  margin-top: 2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#editor > :last-child {
  margin-bottom: 2px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#editor > button > svg {
  fill: white;
}

#editor > button :active {
  fill: rgb(177, 177, 177);
}
